<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbientlab.metawear.api"
    android:versionCode="12"
    android:versionName="1.5.0" >

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

</manifest>
